- if flash.present?
  .container.alerts
    - flash.each do |key, text|
      - key = key.gsub("notice", "success").gsub("error", "danger").gsub("alert", "warning")
      %div{ class: "alert alert-#{key} alert-dismissible fade in", role: 'alert' }
        %button.close{ 'aria-label': 'Close', 'data-dismiss': 'alert', type: 'button' }
          %span{ 'aria-hidden': 'true'} ×
        = raw text.html_safe
