//colors
$gallery: #efefef;
$header_color: #299D30;

//fonts
$font_0: Helvetica Neue;
$font_1: Arial;
$font_2: sans-serif;

html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: $font_0, $font_1, $font_2;
}

nav.navbar {
  margin-bottom: 0px;
}

header.bg-primary {
  background-color: $header_color !important;
}
header {
  padding: 84px 0 100px;
}
@media(min-width: 992px) {
  header {
    padding: 86px 0 100px;
  }
}

section {
  padding: 150px 0;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: $gallery;
  text-align: center;
}

.alerts {
  margin-top: 10px;
  position: relative;
}

.back {
  margin-top: 10px;
}

.hidden {
  display: none;
}
